/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 0;
  padding: 0 0 0 0;
  font-size: 1.2em;
  color: var(--primary);
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 315 0;
  font-size: 1.1em;
  color: #555;
}

header .container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.event-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.event-details h4 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 0;
  padding: 0 0 0 0;
  font-size: 1.2em;
  color: var(--primary);
}

.event-details h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 0;
  font-size: 1.1em;
  color: #555;
}

.event-details p {
  margin: 3px;
  font-size: 0.9em;
  color: #555;
}
.event-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new event form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 18px;
  font-family: "Poppins";
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: var(--error);
  border: 0;
  color: #fff;
  padding: 18px;
  font-family: "Poppins";
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.alertbutton {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  margin: 4px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.alertbutton:hover {
  background: #fff;
  color: var(--error);
  border: 2px solid var(--error);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

nav button:hover {
  background: #fff;
  color: var(--error);
  border: 2px solid var(--error);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login  {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.datefilterbutton {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: var(--primary);
  box-sizing: content-box;
  
  margin: 0.1em;
  font: 300 12px system-ui;
  font-family: "Poppins";
  font-size: 16px;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  cursor: pointer;
}

.datefilterbutton:hover {
  background-color: var(--error);
}